<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 Pebble Plugin for AndroidScript.
*/
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.plugins.user"  android:versionCode="100" 
          android:versionName="1.00" android:installLocation="auto">

	<!-- Put your required permissions here -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<!-- SDK versions required -->
	<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="16" />
  
    <application android:label="Ext UI" android:icon="@drawable/icon" >

		
	</application>
	
</manifest> 